<div class="container" style="margin-top: auto !important;">
    <footer class="py-0 my-0">
        <ul class="nav justify-content-center pb-1 mb-1">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Главная</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Новости школы</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Все статьи</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Печатные издания</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">О Д-Вести</a></li>
        </ul>
        <hr class="hr-before-header">
        <br>
        <p class="text-center text-muted">© 2022 Д-Вести </p>
    </footer>
</div>