<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <ul class="nav col-xl-12 col-lg-12 col-md-12 col-sm-12 justify-content-center">
        <li><a href="/" class="nav-link px-2 ms-2 me-2">Главная</a></li>
        <li><a href="#" class="nav-link px-2 ms-2">О Д-Вести</a></li>
        <li><a href="/registr" class="nav-link px-2 ms-2">Регистрация</a></li>
        <li><a href="{{url_for('dashboard')}}" class="nav-link px-2 ms-2">Кабинет Редактора</a></li>
      </ul>
    </div>
  </div>
</header>