<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "main/links.html" %}
    <link rel="icon" href="{{url_for('static', filename='images/favicon.png')}}" type="image/x-icon">
    <title>{{title}}</title>
</head>
<body class="d-flex flex-column min-vh-100">

<h1 style="font-weight: 700; font-size: 64px" class="text-center mt-2 mb-4">Д-вести</h1>
<hr class="hr-before-header">
{% include "main/header.html" %}
<br><br><br>
<div class="container">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
<!-- Актуальные статьи -->
<div class="container">
    <p class="title-part">Статьи и новости</p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for user in users %}
        <div class="col card-margin-bottom">
            <div class="card h-100">
                <div class="box">
                    <a href="show_article/{{user.id}}"><img src="static/images/articles/{{ user.main_img }}" class="card-img-top"></a>
                </div>
                <div class="card-body">
                    <a href="show_article/{{user.id}}" class="text-href"><p class="card-text title-post">{{ user.tag }}</p></a>
                    <a href="show_article/{{user.id}}" class="text-href"><p class="card-text title-post">{{ user.title_article }}</p></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<br><br><br><br><br>


{% include 'main/footer.html' %}
</body>
</html>