<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% include "dashboard/links.html" %}

    <style>
    </style>

</head>
<body>
<h1 style="font-weight: 700; font-size: 64px" class="text-center mt-2 mb-4">{{title}}</h1>
<hr class="hr-before-header">
{% include "main/header.html" %}
<br><br>
<div class="container">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
<div class="container">
    <form method="post">
        <div class="mb-3 col-lg-6">
            <label for="formGroupExampleInput" class="form-label">Имя</label>
            {{ form.name(class="form-control", id="formGroupExampleInput") }}
        </div>
        <div class="mb-3 col-lg-6">
            <label for="formGroupExampleInput" class="form-label">Email</label>
            {{ form.email(class="form-control", id="formGroupExampleInput") }}
        </div>
        <div class="mb-3 col-lg-6">
            <label for="formGroupExampleInput" class="form-label">Пароль</label>
            {{ form.password(class="form-control", id="formGroupExampleInput") }}
        </div>
        <div class="mb-3 col-lg-6">
            <label for="formGroupExampleInput" class="form-label">Номер телефона</label>
            {{ form.mobile_number(class="form-control", id="formGroupExampleInput") }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

</body>
</html>