<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% include "dashboard/links.html" %}
</head>
<body>
<h1 style="font-weight: 700; font-size: 64px" class="text-center mt-2 mb-4">{{title}}</h1>
<hr class="hr-before-header">
{% include "main/header.html" %}
<br><br>
<div class="container">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>

{% for user in users %}

<div class="container">
    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><h5>{{ user.name }}</h5></div>
        <div class="card-body">
            <h6 class="card-title">{{ user.email }}</h6>
            <p class="card-title">{{ user.mobile_number }}</p>
            <p class="card-title">{{ user.date }}</p>

            <a class="btn btn-success"
               href="{{user.id}}/success">
                Принять</a>
        </div>

    </div>
</div>
{% endfor %}


</body>
</html>