<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <ul class="nav col-xl-12 col-lg-12 col-md-12 col-sm-12 justify-content-center">
          <li><a href="/" class="nav-link px-2 me-2">Главная</a></li>
          <li><a href="#" class="nav-link px-2 ms-2 me-2">Новости</a></li>
          <li><a href="#" class="nav-link px-2 ms-2 me-2">Все статьи</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Добавить</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/add_article">Статьи</a></li>
              <li><a class="dropdown-item" href="/add_news">Новости</a></li>
            </ul>
          </li>
          <li><a href="{{url_for('dashboard')}}" class="nav-link px-2 ms-2">Dashboard</a></li>
        </ul>
      </div>
    </div>
</header>